 /* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
body {
  margin: 0;
  font-family: "Poppins";
  overflow: hidden;
}
:root {
  --yellow: rgb(237, 187, 0);
  --yellow-hover: #c09c34;
  --primary: #1aac83;
  --error: #e7195a;
}
.header {
  background: #f1f1f1;
  height: 5vh;
  margin: 0 auto;
  padding: 0px 20px;
  border: solid lightgray;
  border-width: 0 0 .1px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home {
  display: flex;
}
.pages{
  /* max-width: 1400px;
  padding: 20px;
  margin: 0 auto; */
}
.folder-bar{
  background-color: #fbfbfd;
  /* flex: 1; */
  width: 250px;
  border: solid lightgray;
  border-width: 0 .1px 0 0;
  height: 95vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.folder{
  background-color: #fbfbfd;
  border-radius: 10px;
  border-width: 0;
  height: 30px;
  display: flex;
  width: 100%;
  align-items: center;
  text-align: start;
  padding-left: 15px;
  padding-right: 15px;
  margin: 1px;
}
#current:hover{
  background-color: var(--yellow-hover);
  transition: 0.3s;
}
.folder:hover{
  background-color: lightgray;
  opacity: 0.5;
  transition: 0.3s;
}
.text{
  flex-grow: 1;
}
.delete{
  flex-shrink: 0;
}
.new-folder-button{
  bottom: 0;
  background-color: unset;
  border-width: 0;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  margin-bottom: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--yellow);
  font-weight: bold;
}
.new-folder-button:hover{
  background-color: var(--yellow);
  color: #fff;
  opacity: 0.5;
  transition: 0.3s;
}
.folder-rename{
  background-color: grey;
  border-radius: 10px;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 1px;
}

input{
  all: unset;
}
.search-bar{
  flex: 1;
  background-color: lightgray;
  border-radius: 10px;
  height: 30px;
  display: flex;
  align-items: center;
  text-align: start;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
  color: gray;
}
.notes-bar{
  /* flex: 1; */
  width: 300px;
  background-color: #fff;
  border: solid lightgray;
  border-width: 0 .1px 0 0;
  padding: 10px;
}
div.line{
  height: 1px;
  background-color: lightgray;
}
div.invisible-line{
  height: 1px;
  background-color: #fff;
  
}

#current{
  background-color: var(--yellow);
  color: #fff;
}
.note-button{
  flex: 1;
  max-width: auto;
  background-color:  #fff;
  border-radius: 10px;
  border-width: 0px;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
  margin: 1px;
  padding-bottom: 5%;
}
.note-button:hover{
  background-color: lightgray;
  opacity: 0.5;
  transition: 0.3s;
}

.note{
  flex: 30;
}
.notepad{
  height: 100vh;
  width: 100%;
  margin: 20px;
}
textarea{
  all: unset;
  display: inline-block;
}
textarea::first-line{
  font-size: x-large ;
  font-weight: 700;
}

.noteTitle{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; */
}
.noteText{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

button{
  background-color: unset;
  border-width: 0;
  border-radius: 5px;
}
button:hover{
  background-color: lightgray;
  opacity: 0.5;
  transition: 0.3s;
}
.note-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.delete-note{
  width: 30px;
  height: 30px;
}
.trash-can{
  color: var(--yellow);
  width: 20px;
  height: 20px;
}
.create-note{
  width: 30px;
  height: 30px;
}
.pen-to-square{
  color: var(--yellow);
  width: 20px;
  height: 20px;
}
